[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ogrdbstats"]
	path = ogrdbstats
	url = https://github.com/airr-community/ogrdbstats
